/**
 * User: ddzhibo
 * Mail: ddzhibo@gmail.com
 */

/*==左侧文章列表==*/
.p-col1 .bx-sya{border-top:2px solid #8bd8cc;background-color:#FFF;overflow:hidden;zoom:1;padding-bottom:55px}
.p-col1 .bx-sya .hd{margin:0 30px}
/*==左侧文章列表==*/

/*==左侧频道列表==*/
.p-col1 .channel-list{border-top:2px solid #000000;background-color:#FFF;overflow:hidden;zoom:1;position:relative}
.p-col1 .channel-list .bx-sya{border-top:1px solid #d8d8d8;margin:-1px 25px 0;padding:20px 0}
.p-col1 .channel-list .bx-sya .hd{color:#33AA99;margin:0}

/*==右侧频道列表==*/
.p-col2 .channel-list{zoom:1}
.p-col2 .channel-list .t-list-sya .t-item{width:49.9%}

/*==右侧视频列表==*/
.bx-syb{border-top:1px solid #D8D8D8;margin-top:-1px}
.bx-syb .tab-sya{text-align:center;margin-bottom:5px}

.pages{zoom:1;text-align:center;padding-top:55px}
    .pagelist{display:inline-block;*zoom:1;*display:inline}
    .pagelist li{float:left;margin-right:5px;color:#484848}
    .pagelist li .s{text-decoration:none}
    .pagelist .select .btn{background-position:-198px -26px;color:#33AA99}
    .pagelist .select .btn .s{background-position:right -26px}
    .pagelist .pageinfo{font-size:12px;color:#BBB}





