
/*==切换信号==*/
.tab-syb{margin-bottom:5px;float:left;}
.jmb {float:right; position:relative;z-index:999}
.jmb a {display:block;width:90px;height:36px;line-height:36px;background:#66CCBB;text-align:center;font-size:16px;color:#fff}
.jmb a:hover { text-decoration:none;background:#f40;}
.jmbbox {padding:10px;width:300px;height:380px; position:absolute;top:36px;right:0;border:1px solid #66CCBB;background:#fff;display:none}
.jmbbox:after {content:"\0020";display:block;clear:both;height:0;overflow:hidden;width:0; border-width:0 5px 5px;border-style:solid;border-color:transparent transparent #fff;/*透明 透明  灰*/ position:absolute;top:-5px;right:40px}


/*==v-top==*/
.v-top{margin-bottom:5px}

/*==play-bx==*/
.play-bx{zoom:1;clear:both}
    .play-bx .play-bd,
    .play-bx .player,
    .play-bx .copyright{height:480px;overflow:hidden;position:relative}
    .play-bx .player{width:100%}
    .play-bx .play-bd{background-color:#000}

/*.dd-w1190 .play-bx .player{width:834px}*/

/*==视频列表==*/
.bx-syb{border-top:1px solid #D8D8D8;margin-top:-1px}
    .bx-syb .tab-sya{text-align:center;margin-bottom:5px}
.liketv {margin-bottom:10px;background:#fff;padding:10px}
.liketv .title {line-height:30px;height:30px;font-size:16px;padding-bottom:6px}
.liketv p a{display:inline-block;padding:3px 10px;border:1px solid #eee;background:#fff;margin:0 6px 6px 0px}
.liketv p a:hover {background:#66CCBB;color:#fff;border:1px solid #66CCBB; text-decoration:none}
.btv {background:#fff}

/*==节目表==*/
.bx-syd{margin-top:10px}
    .bx-syd .bd{position:relative}
    .bx-syd .iframe-sya{margin-left:-10px;width:346px;height:470px;vertical-align:top;background:transparent}
	.bx-syd .iframe-syb{width:346px;height:470px;vertical-align:top;background:transparent}
    .bx-syd .lay{top:60px;width:315px;height:396px;left:0px;background-color:#FFF;opacity:.1;-moz-opacity:.1;filter:alpha(opacity=1);position:absolute}

/*==频道列表==*/
.channel-list{border-top:2px solid #000000;background-color:#FFF;overflow:hidden;zoom:1;position:relative;margin-bottom:10px}
    .channel-list .bx-sya{border-top:1px solid #d8d8d8;margin:-1px 20px 0}
    .dd-w1190 .channel-list .t-list-sya .t-item{width:24.9%}

.smile{display:none}
    .smile .h{font-size:18px;color:#484848;padding:0 0 10px;text-align:center;}
    .smile .b{color:#666}
    .smile-bx .smile{display:block}
    .smile-bx .warn{color:#BBB;zoom;1;margin-bottom:10px}

.user-tools {widtH:100%}
.mt10 {margin-top:10px}